mat-drawer-container {
  margin-top: 4rem;
  width: 100%;
}

mat-drawer {
  min-width: 18%;
  top: 4rem;
  /* overflow: hidden; */
  position: fixed;
}

mat-drawer-content {
  margin-left: 5%;
  position: relative;
}
