<div class="page">
  <div id="left" class="column">
    <div class="top-left">
      <mat-toolbar color="primary">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Application</span>
      </mat-toolbar>
    </div>
    <div class="bottom">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div id="right" class="column">
    <div class="top-right">
      <mat-toolbar color="primary"></mat-toolbar>
    </div>
    <div class="bottom">
      <app-loader></app-loader>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>