@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #CCC; 
}

::-webkit-scrollbar-thumb:hover {
  background: #999; 
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
