<div class="container">
  <form (ngSubmit)="onSignin(f)" #f="ngForm" class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" ngModel required type="email" id="email" name="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" ngModel [type]="hide ? 'password' : 'text'" type="password" id="password"
        name="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-raised-button type="submit">Sign In</button>
  </form>
</div>